:root{
  scroll-behavior: smooth;
  scrollbar-gutter: stable both-edges;
  overflow-y: scroll;
}
/* 媒体查询 */
@media screen and (min-width:320px) {
  html{
    font-size: 10px;
  }
}
@media screen and (min-width:375px) {
  html{
    font-size: 11px;
  }
}
@media screen and (min-width:414px) {
  html{
    font-size: 12px;
  }
}
@media screen and (min-width:480px) {
  html{
    font-size: 13px;
  }
}
html{
  @apply bg-white dark:bg-neutral-900;
}
