// common.less
*::-webkit-scrollbar{
  width: 8px;
  height: 8px;
  background-color: #F5F5F5;
}
*::-webkit-scrollbar-track{
  background-color: #F5F5F5;
}
*::-webkit-scrollbar-thumb {
  background: grey; // 滑块颜色
  border-radius: 4px; // 滑块圆角
}

// 兼容Firefox、IE
* {
  scrollbar-width: auto;
  scrollbar-color: auto;
  scroll-behavior: smooth;
  scrollbar-gutter: auto;
}
