::-webkit-scrollbar{
  width: 8px;
  height: 8px;
  background-color: transparent;
}
::-webkit-scrollbar-track{
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: hsl(230,16%,65%);
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: hsl(230,16%,55%);
}

// 兼容Firefox、IE
* {
  scrollbar-width: auto;
  scrollbar-color: auto;
  scroll-behavior: smooth;
  scrollbar-gutter: auto;
}
